.editor {
    margin-right: 3em;
}

.editor__item-label {
    margin-bottom: 0.5em;
    display: block;
}

.editor__item + .editor__item {
    margin-top: 1.5em;
}

.editor__file-input {
    display: none;
}

.editor__color-picker {
    font-size: 0.85rem;
    height: 2.5em;
    box-sizing: border-box;
    padding: 0 0.5em;
    width: 6em;
}

.hint__title {
    margin: 1em 0 0.5em;
}

.hint__list {
    margin: 0;
}

.palette__foreground-demo-container {
    margin-top: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 32px;
    height: 16px;
    border: currentColor solid 2px;
}

.palette__background-demo-container {
    margin-top: 6px;
    box-sizing: border-box;
    width: 32px;
    height: 16px;
    background: currentColor;
}

.palette__color-code {
    font-size: 12px;
}

@keyframes background-rainbow {
    0%  {background: #000;}
    50% {background: #fff;}
    100% {background: #000;}
}

@keyframes border-rainbow {
    0%  {border-color: #000;}
    50% {border-color: #fff;}
    100% {border-color: #000;}
}

.matrix__swatch:hover,
.matrix__swatch.matrix__swatch--selected {
    border: 4px solid;
    margin: 0px;
    width: 58px;
    height: 58px;
    animation: border-rainbow 2s infinite;
    animation-timing-function: linear;
}

.palette__swatch.palette__swatch--selected,
.palette__swatch:hover {
    animation: background-rainbow 2s infinite;
    animation-timing-function: linear;
}

.dummy__swatch,
.matrix__swatch,
.palette__swatch {
    margin: 1px;
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matrix__swatch {
    cursor: pointer;
}

.matrix__contrast-ratio {
    font-size: 12px;
}

.matrix__rating-badge {
    margin-top: 6px;
    padding: 2px;
}

.palette__swatches,
.matrix__row {
    white-space: nowrap;
}